version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: flask-mongo-db
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always

  flaskapp:
    build: .
    container_name: flask-app
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
      - MONGO_URI=mongodb://mongo:27017
    depends_on:
      - mongo
    restart: always

volumes:
  mongo-data:

