services:
  flaskapp:
    build: .
    container_name: flask-ci-cd-app-flaskapp
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:6
    container_name: flask-ci-cd-app-mongo
    restart: always

