name: Flask CI/CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        python -m venv ~/venv
        source ~/venv/bin/activate
        pip install -r requirements.txt

    - name: Deploy to server
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        port: ${{ secrets.PORT }}
        script: |
          cd ~/flask-ci-cd-app
          git pull origin main
          source ~/venv/bin/activate
          pip install -r requirements.txt
          systemctl --user daemon-reload
          systemctl --user restart flask-app.service
          systemctl --user status flask-app.service --no-pager
