name: Flask CI/CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to VM
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          port: ${{ secrets.VM_PORT }}
          script: |
            cd /home/manisha/flask-ci-cd-app
            git pull origin main
            source /home/manisha/venv/bin/activate
            pip install -r requirements.txt
            systemctl --user daemon-reload
            systemctl --user restart flask-app.service
            systemctl --user status flask-app.service --no-pager
