name: Deploy Flask + MongoDB App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and start Docker Compose
        run: |
          docker compose build
          docker compose up -d
          
      - name: Show running containers
        run: docker ps -a

      - name: Test Flask app
        run: |
          curl http://localhost:5000
