name: Deploy to VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy with Docker Compose
        run: |
          cd ~/flask-ci-cd-app   # or the path where repo is
          docker compose down
          docker compose up -d --build
