name: Deploy Flask App with MongoDB

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted  # Use your self-hosted runner
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build Docker images
        run: docker compose -f docker-compose.yml build

      - name: Stop & remove existing containers
        run: docker compose -f docker-compose.yml down

      - name: Start containers
        run: docker compose -f docker-compose.yml up -d
